# Mall Customer Segmentation
This data set is created only for the learning purpose of the customer segmentation concepts , also known as market basket analysis . We will demonstrate this by using unsupervised ML technique (KMeans Clustering Algorithm) in the simplest form.

### 1. Problem Definition
You own the mall and want to understand the customers like who can be easily converge Target Customers so that the sense can be given to marketing team and plan the strategy accordingly.

### 2. Data
[Kaggle](https://www.kaggle.com/vjchoudhary7/customer-segmentation-tutorial-in-python)

### 3. Evaluation
1. How to achieve customer segmentation using unsupervised machine learning algorithm in simplest way.
2. Who are your target customers with whom you can start marketing strategy.

### 4. Features
* CustomerID:

# EDA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

sns.set_style('whitegrid')
sns.set_palette('viridis')

In [2]:
df = pd.read_csv('Mall_Customers.csv')
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [4]:
df['CustomerID'].nunique()

200

In [5]:
df = pd.read_csv('Mall_Customers.csv', index_col='CustomerID')
df.head()

            Gender  Age  Annual Income (k$)  Spending Score (1-100)
CustomerID
1             Male   19                  15                      39
2             Male   21                  15                      81
3           Female   20                  16                       6
4           Female   23                  16                      77
5           Female   31                  17                      40